<div class="container">
  <div class=" edit-job-offer-form">
    <h2>Edit Job Offer</h2>
    <form (ngSubmit)="onSubmit()" *ngIf="jobOffer" #jobOfferForm="ngForm">
      <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" [(ngModel)]="jobOffer.name" required>
      </div>
      <div>
        <label for="description">Description:</label>
        <textarea id="description" name="description" [(ngModel)]="jobOffer.description" required></textarea>
      </div>
      <div>
        <label for="daysUntilExpired">Days Until Expired:</label>
        <input type="number" id="daysUntilExpired" name="daysUntilExpired" [(ngModel)]="jobOffer.daysUntilExpired" required>
      </div>
      <div class="input-with-button">
          <label for="requiredSkills">Required Skills:</label>
          <div class="chips-container">
            <div *ngFor="let skill of jobOffer.requiredSkills" class="chip" (click)="removeSkill(skill)">{{ skill }}</div>
          </div>
          <div class="input-button-wrapper">
            <input type="text" id="requiredSkills" name="requiredSkills" [(ngModel)]="skill" (keydown.enter)="addSkill()">
            <button class="add-button" type="button" (click)="addSkill()">Add</button>
          </div>
        </div>
      
      <button type="submit">Save Changes</button>
    </form>
  </div>
</div>
