<div class="header-container">
  <h1>My Applied Job Offers</h1>
  <input type="text" [(ngModel)]="searchQuery" (ngModelChange)="onSearchChange()" placeholder="Search job offers..." class="search-input">
</div>
<div class="job-offers-container">
  <div *ngIf="jobOffers && jobOffers.content.length === 0">No job offers available.</div>
  <div *ngFor="let jobOffer of jobOffers?.content" (click)="navigateToJobOffer(jobOffer.id)">
      <div class="card">
        <div class="card-content">
          <h2>{{ jobOffer.name }}</h2>
          <p>Description: {{ jobOffer.description }}</p>
          <p>Recruiter: {{ jobOffer.recruiter.firstName }} {{ jobOffer.recruiter.lastName }} ({{ jobOffer.recruiter.companyName }})</p>
          <div class="chips-container">
            <div *ngFor="let skill of jobOffer.requiredSkills" class="chip">{{ skill }}</div>
        </div>
        </div>
        <div class="menu-button-container">
          <button mat-icon-button [matMenuTriggerFor]="actionsMenu" (click)="$event.stopPropagation()">
              <mat-icon>more_vert</mat-icon>
          </button>
      </div>
      <!-- Dropdown menu for actions -->
      <mat-menu #actionsMenu="matMenu" >
          <button mat-menu-item (click)="cancelApplication(jobOffer.id)">Cancel</button>
      </mat-menu>
      </div>
  </div>
  
  <div class="pagination-container">
      <button class="pagination-button" (click)="prevPage()"><</button>
      <span>{{ currentPage + 1 }}</span>
      <button class="pagination-button" (click)="nextPage()">></button>
  </div>
</div>